@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/mixins";
@import "node_modules/bootstrap/scss/bootstrap";

.nav-bar{
  background-color: darken($primary-color, 10%);
}

.nav-brand{
  text-decoration: none;
  color: darken($text-color, 100%);

  &:hover{
    color: darken($text-color, 100%);
  }
}

.nav-item{
  text-decoration: none;
  color: lighten($text-color, 50%);
  transition: ease 0.25s;

  &:hover{
    transition: ease 0.25s;
    color: darken($text-color, 100%);
  }
}

.active{
  text-decoration: none;
  color: $active-color;

  &:hover{
    color: darken($text-color, 80%);
  }
}
