@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/mixins";


:root {
  background-color: $primary-color;
}

body {
  margin: 0;
  background-color: $primary-color;
  min-height: 100vh;
}

h1{
  font-family: $roboto;
}
h2{
  font-family: $roboto;
}
h3{
  font-family: $roboto;
}

p{
  font-family: $roboto;
}

span{
  font-family: $roboto;
}

a{
  font-family: $roboto;
}

button{
  font-family: $roboto;
}
